<div id="ribbits" class="panel left">
	<h1><%= title %></h1>
    <div>
        <% if (following == false) { %>
            <a href="/usr/<%= username %>/follow">Follow</a>
        <% } else if (following == true) { %>
            <a href="/usr/<%= username %>/unfollow">Unfollow</a>
        <% } %>
    </div>
    <% for(var i=0; i < tweets.length; i++) { %>
	    <div class="ribbitWrapper">
	    	<img class="avatar" src="/gfx/user2.png">
	    	<span class="name">
                <a href="/usr/<%= tweets[i].username %>">
                    <%= tweets[i].username %>
                </a>
            </span>
            <span class="time"><%= tweets[i].display_time %></span>
	    	<p><%= tweets[i].text %></p>
	    </div>
    <% } %>
</div>
